.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  max-height: 100vh;
  height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.Errorbox {
    position: absolute;
    top: 10px;
    background-color: #881111;
    color: #dddddd;
    text-align: center;
    left:  12.5vw;
    width: 75vw;
    height: 100px;
}


.Inventory {
    grid-area: 1 / 2 / 2 / 3;
    border-style: solid;
    border-color: black;
}




.GridSquare {
    width: 25px;
    height: 35px;

}

.GridWall {
    background-color: #777777;

}

.GridFloor {
    background-color: #333333
}

div.Grid {
    overflow: scroll;
    grid-area: 1 / 1 / 2 / 2;
    border-style: solid;
    border-color: black;
    max-height: 100%;
}

table.Grid {
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
}

td.Grid {
    padding: 0px;
    margin: 0px;
}

.MessageBox {
    overflow: scroll;
    grid-area: 2 / 1 / 3 / 3;
    border-style: solid;
    border-color: black;

}

.TitleBar {
    display: flex;
    min-height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0px;
    padding: 0px;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
}

.TitleBarNode {
    border-style: solid;
    padding: 5px;
    border-radius: 10px;

}


.MainGame {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto 100px;
    column-gap: 2px;
    row-gap: 2px;
    position: relative;
    overflow: hidden;
}
